body {
  background: url('images/bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
h1 {
  font-size: 50px;
  line-height: 1.5;
}
p {
  font-size: 20px;
}
.header {
  margin-top: 2.5em;
}
form {
  margin: 3em 0;
}
.form-control {
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn {
  color: #fff;
  background: #1586c1;
}
.btn:hover {
  color: #f9f9f9;
  background: #1895d6;
}